.main-logo {
    background-image: url(https://static.vecteezy.com/system/resources/previews/011/598/471/original/google-logo-icon-illustration-free-vector.jpg);
    background-size: cover;
    background-position: center;
}

.box{
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}